<h2>{{title}}</h2>

<div>
    <a href="/" class="anchors">Home</a>
    <a href="/about" style="margin-left:100px;" class="anchors">About</a>
    <a href="/help" style="margin-left:180px;" class="anchors">Help</a>
</div>